<div class="card mx-auto" style="max-width: 500px;">
  <div class="card-header">
    <h4>Регистрация</h4>
  </div>
  <div class="card-body">
    <form action="/users/register" method="POST">
      <div class="form-group mb-3">
        <label for="name">Имя</label>
        <input type="text" name="name" id="name" class="form-control" required>
      </div>
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" required>
      </div>
      <div class="form-group mb-3">
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
    </form>
  </div>
</div>
