<div class="container">
    <h2 class="mt-4">Статистика по событиям</h2>
    <% if (stats && stats.length > 0) { %>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Событие</th>
            <th>Количество участников</th>
          </tr>
        </thead>
        <tbody>
          <% stats.forEach(item => { %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.participantCount %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <p>Статистика недоступна.</p>
    <% } %>
  </div>
  